---
# Only the main Sass file needs front matter (the dashes are enough)
---

img{width:100%;}
.no-line-height{line-height:0;}
ul{margin:0; padding:0; list-style:none;}
ul li{  padding:0 0 0 25px; position:relative;}
ul li input{position: absolute; top:5px; left:0; opacity:0.5;}

.max-width-4{max-width:64em}
.max-width-3{max-width:52em}
.max-width-2{max-width:40em}

.search input{border-radius:5px; border:2px solid #eee; box-shadow:0 0 14px rgba(#fcba03,0.1); width:100%; padding:1.5rem}
.search input:focus{outline:none; border:2px solid #fcba03;}
.search{transition:.3s ease height; height:90vh; display:flex; flex-direction: column; justify-content:center;}

.hero{height:150px;}
.post h1{margin-top:3rem}
.post ol, .post ul{}
.post li{margin-bottom:1rem; padding:0 0 0 1rem;}
.post li:before{content:"- "; position:absolute; left:0; color:#fcba03}

a .image{transition:.2s ease all; opacity:1;}
a:hover .image{opacity:0.2;}
.ingredients p{margin-bottom:0.5rem;}

.sell .sm-col a{text-decoration:none; color:#fff; border-bottom:2px solid rgba(255,255,255,0.5);}

.ratio{padding-top:50%; background-position: center center; background-repeat:no-repeat;}

@media all and (max-width:40em){
.left-align{text-align:center;}
.right-align{text-align:center;}
}

@media all and (max-width: 300px){
.title{font-size:1.3rem; text-align:center; box-sizing:border-box; width:100%;}
.xs-center{text-align: center}
.site-title{bottom:-28px; top:auto; left:50%; margin-left:-25px; border-radius:200px; transition:.2s ease bottom}
.site-title:hover{bottom:-14px;}
.recipes .sm-col{border-bottom:3px solid white}
}

.border-1 { border-width: 1px; }
.border-1:active { border-width: 1px; }
.capitalize { text-transform: capitalize; }
.align-middle { vertical-align: middle; }
.nowrap { white-space: nowrap; }

.accent { color: #CB4E06 } /* fcba03, fc9803 */
.bg-accent { background-color: #fc9803;}
.border-accent { border-color: #CB4E06;}

nav.main-nav {
	position: fixed;
	z-index: 10;
	bottom:0;
	left:0;
	right:0;
	background:rgba(255,255,255,0.95);
	border-top: 2px solid #FFFFFF;
	justify-content: space-around;
}

nav.main-nav .nav-item{
	text-align: center;
	text-decoration: none;
	font-size:.8rem;
	padding:.5rem 0;
	font-weight: 500;
	transition: .2s ease all;
}

nav.main-nav .nav-item.active{
	color: #CB4E06;
}

/*
nav.main-nav .nav-item.active svg{
	animation: zap .2s ease forwards;
}
*/

nav.main-nav .nav-item path, nav.main-nav .item g{
	transition: .2s ease all;
}

nav.main-nav .nav-item.active path, nav.main-nav .nav-item.active g{
	fill:#CB4E06;
}

nav.main-nav .nav-item .gingerbread path, nav.main-nav .nav-item .gingerbread g{
  fill:#000000;
  stroke: #000000;
  stroke-width: 10;
}

nav.main-nav .nav-item.active .gingerbread path, nav.main-nav .nav-item.active .gingerbread g{
  fill:#CB4E06;
  stroke: #CB4E06;
}

/*
nav.main-nav .nav-item:not(.active){
	opacity: .4;
}
*/

nav.main-nav .nav-label{
	margin:0;
  color: #000000;
}

nav.main-nav .nav-item.active .nav-label{
	margin:0;
  color: #CB4E06;
	font-weight: bold;
}

@media (orientation: landscape) {

	body{
		padding-left:20%;
	}

	nav.main-nav {
    box-sizing: border-box;
		position: fixed;
		flex-direction: column;
		justify-content: start;
		width:20%;
		top:0;
		bottom:0;
		left:0;
		right:auto;
		padding:1rem 0 0 2rem;
	}

	nav.main-nav .nav-item{
		text-align: left;
		font-size:1.25rem;
		padding:.5rem 0 0 2rem;
		margin-bottom:1rem;
		position: relative;
	}

	nav.main-nav .nav-item svg{
		position: absolute;
		left:-1rem;
		top:.25rem;
	}

}

.title {font-size: 1.5rem;}

.tag-result-container {
	display: block;
	clear: both;
}

.paginator-list {
	display: flex;
	margin: 0 auto;
	max-width: 100%;
	justify-content: center;
}
.paginator-prev,
.paginator-next,
.paginator-trail {
	margin: 0 0.5rem;
	padding: 0 0.5rem;
	box-sizing: border-box;
}
.paginator-trail {
	text-align: center;
}
.paginator-trail.selected {
	border: 1px solid #CB4E06;
	background-color: #eeeeee;
}

@media all and (max-width:40em){
	.paginator-list {
		font-size: 0.875rem;
	}
}

.slider-container {
	background-color: #000000;
}

li.slider-img {
	padding: 0;
}

.nutrition-table {
	font-size: 0.875rem;
}

.nutrition-table caption {
	text-align: left !important;
}

.nutrition-table th {
	border-right: 1px solid #aaa;
}

.nutrition-table th,
.nutrition-table td {
	padding: 0.125rem 0.25rem;
	vertical-align: top !important;
	border-bottom: 1px dotted #aaa;
}

.nutrition-table td {
	text-align: right !important;
	border-bottom: 1px dotted #aaa;
}

.nutrition-table tr:last-child th,
.nutrition-table tr:last-child td {
  border-bottom: 1px solid #aaa;
}

.nutrition-table td.valign-bottom {
	vertical-align: bottom !important;
}

.nutrition-score {
	margin-top: 1rem;
	text-align: left;
	font-weight: bold;
}

h4.nutrition[data-nutriclass]::after {
	content: "";
	margin-left: 0.5rem;
	line-height: 1;
	width: 0.8rem;
	height: 0.8rem;
	display: inline-block;
	border-radius: 50%;
}

h4.nutrition[data-nutriclass="A"]::after {
	background-color: #3d9970;
}

h4.nutrition[data-nutriclass="B"]::after {
	background-color: #2ecc40;
}

h4.nutrition[data-nutriclass="C"]::after {
	background-color: #ffdc00;
}

h4.nutrition[data-nutriclass="D"]::after {
	background-color: #ff851b;
}

h4.nutrition[data-nutriclass="E"]::after {
	background-color: #ff4136;
}

.pl1 {
	padding-left: 0.5rem !important;
}

@media screen and (min-width:40em) {
	.pl1 {
		padding-left: 1rem !important;
	}
}