---
layout: default
---

<div class="post container max-width-2 px2">

	<h2>Billets</h2>

  {% if site.posts.size == 0 %}
  <p>Désolé, il n’y à rien à voir ici pour le moment…</p>
  {% endif %}

  {% for post in site.posts %}
  <div class="post mb4">
    <h1 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    <p>{{ post.content | strip_html | truncatewords:20 }} <a href="{{ site.baseurl }}{{ post.url }}">{{ site.translation[site.language].read_more }}</a></p>
  </div>
  {% endfor %}


</div>